.blur_input {
    background-color: #fafafa;
    color: #ccc;
}

.custum__upload__btn {
    position: absolute !important;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}